.general-style{
    width: 1600px ;
}

.head-document {
    display: flex;
   
}

.logo{
    display: flex;
    margin: 26px 0px 23px 205px;
    font-family: 'Raleway', sans-serif;    
}

.logo-blu{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
}

.header-list{
    display: flex;  
    list-style-type: none;
    margin: 32px 215px 32px 0px;
}

.navigation{
    display: flex;
    list-style-type: none;
    margin: 32px 294px 32px 0px;
}

.header-nav-list-text, .header-list-text{
    margin: 25px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.header-list-text{
    color: #757575;
}

.section1{
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
   
    padding: 200px auto;
}

.section1-main-text{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    text-align: center;
}





.footer{
    background-color: #2F303A;
    padding: 60px 0px 60px 215px;
    color: #FFFFFF;
}

.footer-logo-blu{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
}

.footer-list{
    list-style-type: none;
    padding: 0%;
}

.footer-list-a{
    text-decoration: none;
    color: #FFFFFF;
    
}

.footer-list-text{
    margin-top: 9px;
    text-decoration: none;
        color: #FFFFFF;
}
