.portfolio{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
}

.portfolio-listb{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    margin: 94px auto 50px auto;
}

.portfolio-listb .button-list + .button-list {
    margin-left: 25px;
}

.portfolio-list-buttons:hover,
.portfolio-list-buttons:focus {
    color: #fff;
    background-color: #2196F3;
}

.portfolio-list-buttons{
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 0px;
    margin-left: 8px;
    padding: 6px 25px 6px 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.portfolio-listimg, .portfolio-listimg-last{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    margin: auto auto 30px auto;
}

.portfolio-listimg-last{
    margin-bottom: 94px;
}

.portfolio-listimg-text{
    border: 1px solid #ECECEC;
    margin-right: 30px;
}

.portfolio-listimg-img{
    width: 370px;
    height: 294px;
}

.portfolio-listimg-text-head{
   margin: 20px auto 4px 24px; 
}

.portfolio-listimg-text-paragraph{
    margin: auto auto 20px 24px;
    font-size: 16px;
    color: #757575;
}